In [1]:
import pandas as pd
import numpy as np
import json
from pandas import json_normalize
# from google.colab import files
import pyarrow.parquet as pq
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import warnings
warnings.filterwarnings('ignore')

In [2]:
df_full = pd.read_parquet('data/df_full.parquet')
#Drop some column
tns=df_full.copy()
tns=tns.drop(columns=['center','product_json','product','qty'])
tns['payment_date']=pd.to_datetime(tns['payment_date'])

In [3]:
tns[tns['paid_amount']<0]

,payment_date,ent,total_amount,discount,paid_amount,trans_origin_type,0C1CC4,0C4C43,0C4C4C,0C4C4Q,...,XC4CCE,XC4CCQ,XC4CCW,XCECC4,XCECCJ,XCECCQ,XCJCC3,XCJCCZ,XCQCC4,XP9LI
97312,2022-02-03,TCC43RWW33Y,54000.0,500000.0,-446000.0,online,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
560160,2022-07-09,TCCE4ZRW1EK,189000.0,191500.0,-2500.0,online,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
717896,2022-09-19,TCC4ECEZJWY,2442000.0,2502500.0,-60500.0,online,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
718616,2022-09-19,TCC4QCEJCZB,329000.0,331500.0,-2500.0,online,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
874830,2022-11-14,TCC4ECEZJWY,2472000.0,2502500.0,-30500.0,online,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# drop df_full[df_full['paid_amount']<0
tns=tns[tns['paid_amount']>0]
tns=tns.reset_index(drop=True)
tns.head()

,payment_date,ent,total_amount,discount,paid_amount,trans_origin_type,0C1CC4,0C4C43,0C4C4C,0C4C4Q,...,XC4CCE,XC4CCQ,XC4CCW,XCECC4,XCECCJ,XCECCQ,XCJCC3,XCJCCZ,XCQCC4,XP9LI
0,2021-01-01,TCC43RQQZ3B,1627000.0,0.0,1627000.0,online,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2021-01-01,TCC4Q4JZ4Q0,594000.0,0.0,594000.0,online,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2021-01-01,TCC4RJ11QE7,468000.0,0.0,468000.0,online,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2021-01-01,TCC434QRCJY,341000.0,0.0,341000.0,online,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2021-01-01,TCC43RRCE10,189000.0,0.0,189000.0,online,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Create Features

In [5]:
def split_dataframe_by_quarter_and_year(dataframe, date_column):
    # Ensure the date_column is in datetime format
    dataframe[date_column] = pd.to_datetime(dataframe[date_column])

    # Group by year and quarter
    dataframe['quarter'] = dataframe[date_column].dt.to_period('Q')
    grouped = dataframe.groupby(['quarter', dataframe[date_column].dt.year])

    # Initialize the result dictionary
    result_dict = {}

    # Iterate over the groups and store DataFrames in the result dictionary
    for (quarter, year), group in grouped:
        key = f"{year}-{quarter.quarter}"
        result_dict[key] = group.copy()

    return result_dict

In [6]:
# Split the DataFrame
tns_split = split_dataframe_by_quarter_and_year(tns, 'payment_date')
tns_split

{'2021-1':               payment_date          ent  total_amount  discount  paid_amount  \
 0      2021-01-01 00:00:00  TCC43RQQZ3B     1627000.0       0.0    1627000.0
 1      2021-01-01 00:00:00  TCC4Q4JZ4Q0      594000.0       0.0     594000.0
 2      2021-01-01 00:00:00  TCC4RJ11QE7      468000.0       0.0     468000.0
 3      2021-01-01 00:00:00  TCC434QRCJY      341000.0       0.0     341000.0
 4      2021-01-01 00:00:00  TCC43RRCE10      189000.0       0.0     189000.0
 ...                    ...          ...           ...       ...          ...
 603644 2021-03-31 22:28:00  TCC4RCC1JZP       50000.0       0.0      50000.0
 603645 2021-03-31 22:29:00  TCC4R4C3CCU       50000.0       0.0      50000.0
 603646 2021-03-31 22:41:00  TCC4R4C3J45       50000.0       0.0      50000.0
 603647 2021-03-31 23:12:00  TCC41Q1QZQP       50000.0       0.0      50000.0
 603648 2021-03-31 23:40:00  TCC41Q1W3WB       50000.0       0.0      50000.0

        trans_origin_type  0C1CC4  0C4C43  0C4C4C  0C4C4Q  ...  XC4CCQ  XC4CCW  \
 0                 online       0       0       0       0  ...       0       0
 1                 online       0       0       0       0  ...       0       0
 2                 online       0       0       0       0  ...       0       0
 3                 online       0       0       0       0  ...       0       0
 4                 online       0       0       0       0  ...       0       0
 ...                  ...     ...     ...     ...     ...  ...     ...     ...
 603644           offline       0       0       0       0  ...       0       0
 603645           offline       0       0       0       0  ...       0       0
 603646           offline       0       0       0       0  ...       0       0
 603647           offline       0       0       0       0  ...       0       0
 603648           offline       0       0       0       0  ...       0       0

         XCECC4  XCECCJ  XCECCQ  XCJCC3  XCJCCZ  XCQCC4  XP9LI  quarter
 0            0       0       0       0       0       0      0   2021Q1
 1            0       0       0       0       0       0      0   2021Q1
 2            0       0       0       0       0       0      0   2021Q1
 3            0       0       0       0       0       0      0   2021Q1
 4            0       0       0       0       0       0      0   2021Q1
 ...        ...     ...     ...     ...     ...     ...    ...      ...
 603644       0       0       0       0       0       0      1   2021Q1
 603645       0       0       0       0       0       0      1   2021Q1
 603646       0       0       0       0       0       0      1   2021Q1
 603647       0       0       0       0       0       0      1   2021Q1
 603648       0       0       0       0       0       0      1   2021Q1

 [603649 rows x 484 columns],
 '2021-2':         payment_date          ent  total_amount  discount  paid_amount  \
 603649    2021-04-01  TCC4Z4Q34WK      670000.0       0.0     670000.0
 603650    2021-04-01  TCC4ZJECZWP      670000.0       0.0     670000.0
 603651    2021-04-01  TCC4ZJ4ZCEB     1755000.0       0.0    1755000.0
 603652    2021-04-01  TCC434CC330     1014000.0       0.0    1014000.0
 603653    2021-04-01  TCC4ZR4CEZ5      170000.0       0.0     170000.0
 ...              ...          ...           ...       ...          ...
 1043735   2021-06-23  TCC4Q4ZWJZ7     1944000.0  189000.0    1755000.0
 1043736   2021-06-23  TCCECQQ1CJI     1729000.0  189000.0    1540000.0
 1043737   2021-06-23  TCC4Q3R1RJ2     1949000.0  191500.0    1757500.0
 1043738   2021-06-23  TCCECQ4RR1I     1169000.0       0.0    1169000.0
 1043739   2021-06-23  TCC4QC4QQZ2     4063000.0  378000.0    3685000.0

         trans_origin_type  0C1CC4  0C4C43  0C4C4C  0C4C4Q  ...  XC4CCQ  \
 603649             online       0       0       0       0  ...       0
 603650             online       0       0       0       0  ...       0
 603651             online       0       0       0       0  ...       0
 603652             online       0       0       0       0  ...       0
 603653             online       0       0       0       0  ...       0
 ...                   ...     ...     ...     ...     ...  ...     ...
 1043735           offline       0       0       0       0  ...       0
 1043736           offline       0       0       0       0  ...       0
 1043737            online       0       0       0       0  ...       0
 1043738            online       0       0       0       0  ...       0
 1043739           offline       0       0       0       0  ...       0

          XC4CCW  XCECC4  XCECCJ  XCECCQ  XCJCC3  XCJCCZ  XCQCC4  XP9LI  \
 603649        0       0       0       0       0       0       0      0
 603650        0       0       0       0       0       0       0      0
 603651        0       0       0       0       0       0       0      0
 603652        0       0       0       0       0       0       0      0
 603653        0       0       0       0       0       0       0      0
 ...         ...     ...     ...     ...     ...     ...     ...    ...
 1043735       0       0       0       0       0       0       0      0
 1043736       0       0       0       0       0       0       0      0
 1043737       0       0       0       0       0       0       0      0
 1043738       0       0       0       0       0       0       0      0
 1043739       0       0       0       0       0       0       0      0

          quarter
 603649    2021Q2
 603650    2021Q2
 603651    2021Q2
 603652    2021Q2
 603653    2021Q2
 ...          ...
 1043735   2021Q2
 1043736   2021Q2
 1043737   2021Q2
 1043738   2021Q2
 1043739   2021Q2

 [440091 rows x 484 columns],
 '2022-1':         payment_date          ent  total_amount  discount  paid_amount  \
 1043740   2022-01-01     TECJJQQF       12500.0       0.0      12500.0
 1043741   2022-01-01     T4141QZY       10000.0       0.0      10000.0
 1043742   2022-01-01     TC1Q1JQK      187500.0       0.0     187500.0
 1043743   2022-01-01     T43R14W5       22500.0       0.0      22500.0
 1043744   2022-01-01     TCZEW1J0        2500.0       0.0       2500.0
 ...              ...          ...           ...       ...          ...
 1376685   2022-03-31  TCCERECRWQ2     1516000.0       0.0    1516000.0
 1376686   2022-03-31  TCCERQRRJJP     1506000.0       0.0    1506000.0
 1376687   2022-03-31  TCC4JW3E312     1506000.0       0.0    1506000.0
 1376688   2022-03-31  TCCER4W4CCP     1335000.0       0.0    1335000.0
 1376689   2022-03-31  TCC43CZ4C4Y     1218000.0       0.0    1218000.0

         trans_origin_type  0C1CC4  0C4C43  0C4C4C  0C4C4Q  ...  XC4CCQ  \
 1043740           offline       0       0       0       0  ...       0
 1043741           offline       0       0       0       0  ...       0
 1043742           offline       0       0       0       0  ...       0
 1043743           offline       0       0       0       0  ...       0
 1043744           offline       0       0       0       0  ...       0
 ...                   ...     ...     ...     ...     ...  ...     ...
 1376685           offline       0       0       0       0  ...       0
 1376686           offline       0       0       0       0  ...       0
 1376687           offline       0       0       0       0  ...       0
 1376688           offline       0       0       0       0  ...       0
 1376689           offline       0       0       0       0  ...       0

          XC4CCW  XCECC4  XCECCJ  XCECCQ  XCJCC3  XCJCCZ  XCQCC4  XP9LI  \
 1043740       0       0       0       0       0       0       0      0
 1043741       0       0       0       0       0       0       0      0
 1043742       0       0       0       0       0       0       0      0
 1043743       0       0       0       0       0       0       0      0
 1043744       0       0       0       0       0       0       0      0
 ...         ...     ...     ...     ...     ...     ...     ...    ...
 1376685       0       0       0       0       0       0       0      0
 1376686       0       0       0       0       0       0       0      0
 1376687       0       0       0       0       0       0       0      0
 1376688       0       0       0       0       0       0       0      0
 1376689       0       0       0       0       0       0       0      0

          quarter
 1043740   2022Q1
 1043741   2022Q1
 1043742   2022Q1
 1043743   2022Q1
 1043744   2022Q1
 ...          ...
 1376685   2022Q1
 1376686   2022Q1
 1376687   2022Q1
 1376688   2022Q1
 1376689   2022Q1

 [332950 rows x 484 columns],
 '2022-2':         payment_date          ent  total_amount  discount  paid_amount  \
 1376690   2022-04-01  TCCER4Q4CWK      188000.0       0.0     188000.0
 1376691   2022-04-01  TCCEC413JE0     1218000.0       0.0    1218000.0
 1376692   2022-04-01  TCCERQZRC4F     1994000.0  267500.0    1726500.0
 1376693   2022-04-01  TCCERRCR41Y      159000.0       0.0     159000.0
 1376694   2022-04-01  TCCERRZ3Z4P      585000.0       0.0     585000.0
 ...              ...          ...           ...       ...          ...
 1589480   2022-06-30  TCC4E4WECRI       99000.0       0.0      99000.0
 1589481   2022-06-30  TCC4WCWWEJY     2023000.0  335000.0    1688000.0
 1589482   2022-06-30     TRZCZRE0     3272000.0       0.0    3272000.0
 1589483   2022-06-30  TCCERECZZJ0      159000.0       0.0     159000.0
 1589484   2022-06-30  TCCECRWZRZ5     2051000.0  335000.0    1716000.0

         trans_origin_type  0C1CC4  0C4C43  0C4C4C  0C4C4Q  ...  XC4CCQ  \
 1376690            online       0       0       0       0  ...       0
 1376691            online       0       0       0       0  ...       0
 1376692            online       0       0       0       0  ...       0
 1376693            online       0       0       0       0  ...       0
 1376694            online       0       0       0       0  ...       0
 ...                   ...     ...     ...     ...     ...  ...     ...
 1589480           offline       0       0       0       0  ...       0
 1589481           offline       0       0       0       0  ...       0
 1589482           offline       0       0       0       0  ...       0
 1589483           offline       0       0       0       0  ...       0
 1589484           offline       0       0       0       0  ...       0

          XC4CCW  XCECC4  XCECCJ  XCECCQ  XCJCC3  XCJCCZ  XCQCC4  XP9LI  \
 1376690       0       0       0       0       0       0       0      0
 1376691       0       0       0       0       0       0       0      0
 1376692       0       0       0       0       0       0       0      0
 1376693       0       0       0       0       0       0       0      0
 1376694       0       0       0       0       0       0       0      0
 ...         ...     ...     ...     ...     ...     ...     ...    ...
 1589480       0       0       0       0       0       0       0      0
 1589481       0       0       0       0       0       0       0      0
 1589482       0       0       0       0       0       0       0      0
 1589483       0       0       0       0       0       0       0      0
 1589484       0       0       0       0       0       0       0      0

          quarter
 1376690   2022Q2
 1376691   2022Q2
 1376692   2022Q2
 1376693   2022Q2
 1376694   2022Q2
 ...          ...
 1589480   2022Q2
 1589481   2022Q2
 1589482   2022Q2
 1589483   2022Q2
 1589484   2022Q2

 [212795 rows x 484 columns],
 '2022-3':         payment_date          ent  total_amount  discount  paid_amount  \
 1589485   2022-07-01  TCC434ZZQJP       39000.0       0.0      39000.0
 1589486   2022-07-01  TCCEE444Z1U     1903000.0  337500.0    1565500.0
 1589487   2022-07-01  TCC4RCQQZJP     1938000.0  335000.0    1603000.0
 1589488   2022-07-01  TCCEEC1RWEB      590000.0    2500.0     587500.0
 1589489   2022-07-01  TCC44JZ14ZB     1218000.0       0.0    1218000.0
 ...              ...          ...           ...       ...          ...
 1790713   2022-09-30     T43JJWJU     4158000.0  460000.0    3698000.0
 1790714   2022-09-30  TCCE433C4Z7      225000.0       0.0     225000.0
 1790715   2022-09-30     T4E1RJC7      305000.0       0.0     305000.0
 1790716   2022-09-30  TCC4JRWZ4ZI      609000.0       0.0     609000.0
 1790717   2022-09-30  TCCERJWERJI      189000.0       0.0     189000.0

         trans_origin_type  0C1CC4  0C4C43  0C4C4C  0C4C4Q  ...  XC4CCQ  \
 1589485            online       0       0       0       0  ...       0
 1589486            online       0       0       0       0  ...       0
 1589487            online       0       0       0       0  ...       0
 1589488            online       0       0       0       0  ...       0
 1589489            online       0       0       0       0  ...       0
 ...                   ...     ...     ...     ...     ...  ...     ...
 1790713           offline       0       0       0       0  ...       0
 1790714           offline       0       0       0       0  ...       0
 1790715           offline       0       0       0       0  ...       0
 1790716           offline       0       0       0       0  ...       0
 1790717           offline       0       0       0       0  ...       0

          XC4CCW  XCECC4  XCECCJ  XCECCQ  XCJCC3  XCJCCZ  XCQCC4  XP9LI  \
 1589485       0       0       0       0       0       0       0      0
 1589486       0       0       0       0       0       0       0      0
 1589487       0       0       0       0       0       0       0      0
 1589488       0       0       0       0       0       0       0      0
 1589489       0       0       0       0       0       0       0      0
 ...         ...     ...     ...     ...     ...     ...     ...    ...
 1790713       0       0       0       0       1       0       0      0
 1790714       0       0       0       0       0       0       0      0
 1790715       0       0       0       0       0       0       0      0
 1790716       0       0       0       0       0       0       0      0
 1790717       0       0       0       0       0       0       0      0

          quarter
 1589485   2022Q3
 1589486   2022Q3
 1589487   2022Q3
 1589488   2022Q3
 1589489   2022Q3
 ...          ...
 1790713   2022Q3
 1790714   2022Q3
 1790715   2022Q3
 1790716   2022Q3
 1790717   2022Q3

 [201233 rows x 484 columns],
 '2022-4':         payment_date          ent  total_amount  discount  paid_amount  \
 1790718   2022-10-01  TCCERZZJWW2     1209000.0   39000.0    1170000.0
 1790719   2022-10-01  TCC4RCQQZJP      901000.0   79000.0     822000.0
 1790720   2022-10-01  TCCEJ13C4RU     2213000.0  519000.0    1694000.0
 1790721   2022-10-01     T13WW1WK     2327000.0  611500.0    1715500.0
 1790722   2022-10-01  TCCE14QEER7      624000.0  585000.0      39000.0
 ...              ...          ...           ...       ...          ...
 2038746   2022-12-31  TCCE1EEZZ3B        2500.0       0.0       2500.0
 2038747   2022-12-31  TCCEC1WZJRU        2500.0       0.0       2500.0
 2038748   2022-12-31     TC1JZR1U       17500.0       0.0      17500.0
 2038749   2022-12-31  TCCEJ34RWE2       50000.0       0.0      50000.0
 2038750   2022-12-31     T4141QZY       12500.0       0.0      12500.0

         trans_origin_type  0C1CC4  0C4C43  0C4C4C  0C4C4Q  ...  XC4CCQ  \
 1790718            online       0       0       0       0  ...       0
 1790719            online       0       0       0       0  ...       0
 1790720            online       0       0       0       0  ...       0
 1790721            online       0       0       0       0  ...       0
 1790722            online       0       0       0       0  ...       0
 ...                   ...     ...     ...     ...     ...  ...     ...
 2038746           offline       0       0       0       0  ...       0
 2038747           offline       0       0       0       0  ...       0
 2038748           offline       0       0       0       0  ...       0
 2038749           offline       0       0       0       0  ...       0
 2038750           offline       0       0       0       0  ...       0

          XC4CCW  XCECC4  XCECCJ  XCECCQ  XCJCC3  XCJCCZ  XCQCC4  XP9LI  \
 1790718       0       0       0       0       0       0       0      0
 1790719       0       0       0       0       0       0       0      0
 1790720       0       0       0       0       0       0       0      0
 1790721       0       0       0       0       0       0       0      0
 1790722       0       0       0       0       0       0       0      0
 ...         ...     ...     ...     ...     ...     ...     ...    ...
 2038746       0       0       0       0       0       0       0      0
 2038747       0       0       0       0       0       0       0      0
 2038748       0       0       0       0       0       0       0      0
 2038749       0       0       0       0       0       0       1      0
 2038750       0       0       0       0       0       0       0      0

          quarter
 1790718   2022Q4
 1790719   2022Q4
 1790720   2022Q4
 1790721   2022Q4
 1790722   2022Q4
 ...          ...
 2038746   2022Q4
 2038747   2022Q4
 2038748   2022Q4
 2038749   2022Q4
 2038750   2022Q4

 [248033 rows x 484 columns],
 '2023-1':         payment_date          ent  total_amount  discount  paid_amount  \
 2038751   2023-01-01  TCC4QCZJZQI      590000.0    2500.0     587500.0
 2038752   2023-01-01  TCC4QCE34Z7      243000.0    2500.0     240500.0
 2038753   2023-01-01  TCC44Q3JQQ2     1792000.0       0.0    1792000.0
 2038754   2023-01-01  TCC41JJZCRF     3025000.0       0.0    3025000.0
 2038755   2023-01-01  TCC4JZCJ1JK      198000.0       0.0     198000.0
 ...              ...          ...           ...       ...          ...
 2200364   2023-03-31  TCC4RZ3Z3R2     1329000.0       0.0    1329000.0
 2200365   2023-03-31  TCC4Z1CR1CB      695000.0       0.0     695000.0
 2200366   2023-03-31  TCCE4RWCJ40      695000.0       0.0     695000.0
 2200367   2023-03-31  TCC4Q4RW1Z0     1262000.0       0.0    1262000.0
 2200368   2023-03-31  TCCEJZQECW7     1262000.0       0.0    1262000.0

         trans_origin_type  0C1CC4  0C4C43  0C4C4C  0C4C4Q  ...  XC4CCQ  \
 2038751            online       0       0       0       0  ...       0
 2038752            online       0       0       0       0  ...       0
 2038753            online       0       0       0       0  ...       0
 2038754            online       0       0       0       0  ...       0
 2038755            online       0       0       0       0  ...       0
 ...                   ...     ...     ...     ...     ...  ...     ...
 2200364           offline       0       0       0       0  ...       0
 2200365           offline       0       0       0       0  ...       0
 2200366           offline       0       0       0       0  ...       0
 2200367           offline       0       0       0       0  ...       0
 2200368           offline       0       0       0       0  ...       0

          XC4CCW  XCECC4  XCECCJ  XCECCQ  XCJCC3  XCJCCZ  XCQCC4  XP9LI  \
 2038751       0       0       0       0       0       0       0      0
 2038752       0       0       0       0       0       0       0      0
 2038753       0       0       0       0       0       0       0      0
 2038754       0       0       0       0       0       0       0      0
 2038755       0       0       0       0       0       0       0      0
 ...         ...     ...     ...     ...     ...     ...     ...    ...
 2200364       0       0       0       0       0       0       0      0
 2200365       0       0       0       0       0       0       0      0
 2200366       0       0       0       0       0       0       0      0
 2200367       0       0       0       0       0       0       0      0
 2200368       0       0       0       0       0       0       0      0

          quarter
 2038751   2023Q1
 2038752   2023Q1
 2038753   2023Q1
 2038754   2023Q1
 2038755   2023Q1
 ...          ...
 2200364   2023Q1
 2200365   2023Q1
 2200366   2023Q1
 2200367   2023Q1
 2200368   2023Q1

 [161618 rows x 484 columns],

In [7]:
df_1Q22 = tns_split['2022-1']
df_2Q22 = tns_split['2022-2']
df_3Q22 = tns_split['2022-3']
df_4Q22 = tns_split['2022-4']
df_1Q23 = tns_split['2023-1']
df_2Q23 = tns_split['2023-2']

In [8]:
print(f'1Q22: {df_1Q22.payment_date.min(), df_1Q22.payment_date.max()}')
print(f'2Q22: {df_2Q22.payment_date.min(), df_2Q22.payment_date.max()}')
print(f'3Q22: {df_3Q22.payment_date.min(), df_3Q22.payment_date.max()}')
print(f'4Q22: {df_4Q22.payment_date.min(), df_4Q22.payment_date.max()}')
print(f'1Q23: {df_1Q23.payment_date.min(), df_1Q23.payment_date.max()}')
print(f'2Q23: {df_2Q23.payment_date.min(), df_2Q23.payment_date.max()}')

1Q22: (Timestamp('2022-01-01 00:00:00'), Timestamp('2022-03-31 00:00:00'))
2Q22: (Timestamp('2022-04-01 00:00:00'), Timestamp('2022-06-30 00:00:00'))
3Q22: (Timestamp('2022-07-01 00:00:00'), Timestamp('2022-09-30 00:00:00'))
4Q22: (Timestamp('2022-10-01 00:00:00'), Timestamp('2022-12-31 00:00:00'))
1Q23: (Timestamp('2023-01-01 00:00:00'), Timestamp('2023-03-31 00:00:00'))
2Q23: (Timestamp('2023-04-01 00:00:00'), Timestamp('2023-06-30 00:00:00'))

In [9]:
def create_features(df_rolling):
    df_rolling = df_rolling.sort_values(by='payment_date')
    df_rolling = df_rolling.reset_index(drop=True)

    features_rolling = pd.DataFrame(df_rolling.groupby('ent')['ent'].count())
    features_rolling.rename(columns={'ent': 'frequency'}, inplace=True)

    features_rolling['startdate'] = list(df_rolling.groupby('ent')['payment_date'].min())
    features_rolling['lastdate'] = list(df_rolling.groupby('ent')['payment_date'].max())
    features_rolling['lastdate'] = pd.to_datetime(features_rolling['lastdate'])

    features_rolling['total_time'] = ((features_rolling['lastdate'] - features_rolling['startdate']).dt.days) + 1
    features_rolling['mtbp'] = features_rolling['total_time'] / features_rolling['frequency']

    #####
    df = df_rolling.copy()
    one_hot_encoded = pd.get_dummies(df['trans_origin_type'], prefix='trans_type')
    df = pd.concat([df.iloc[:, :6], one_hot_encoded], axis=1)
    df = df.drop(columns=['trans_origin_type'])

    df['Avg_Discount'] = (1 - (df['paid_amount'] / df['total_amount'])) * 100

    features = df.groupby('ent')['paid_amount'].sum().reset_index()

    features['frequency'] = list(df.groupby('ent')['ent'].count())
    features['Avg_spend'] = features['paid_amount'] / features['frequency']
    features = features.merge(df.groupby('ent')['Avg_Discount'].mean().reset_index(), on='ent', how='left')

    features['startdate'] = list(df.groupby('ent')['payment_date'].min())
    features['lastdate'] = list(df.groupby('ent')['payment_date'].max())
    features['lastdate'] = pd.to_datetime(features['lastdate'])

    features['total_time'] = ((features['lastdate'] - features['startdate']).dt.days) + 1

    # Merge the 'mtbp' from previous rolling features
    features = features.merge(features_rolling['mtbp'], on='ent', how='left')

    features = features.merge(df.groupby('ent')['trans_type_offline'].sum().reset_index(), on='ent', how='left')
    features = features.merge(df.groupby('ent')['trans_type_online'].sum().reset_index(), on='ent', how='left')
    # features['offline_ratio'] = features['trans_type_offline'] / (features['trans_type_offline'] + features['trans_type_online'])
    features['online_ratio'] = features['trans_type_online'] / (features['trans_type_offline'] + features['trans_type_online'])

    features.drop(columns=['paid_amount', 'startdate', 'lastdate', 'total_time', 'trans_type_offline', 'trans_type_online'], inplace=True)
    features['Avg_Discount'] = features['Avg_Discount'].fillna(0)
    
    return features

In [10]:
df_full_1Q22 = create_features(df_1Q22)
df_full_2Q22 = create_features(df_2Q22)
df_full_3Q22 = create_features(df_3Q22)
df_full_4Q22 = create_features(df_4Q22)
df_full_1Q23 = create_features(df_1Q23)
df_full_2Q23 = create_features(df_2Q23)

In [11]:
df_full_2Q23.head()

           ent  frequency  Avg_spend  Avg_Discount  mtbp  online_ratio
0  8CCCCCC4R1F          1   367500.0      0.675676   1.0          1.00
1     BC14413K          1  1118000.0      8.210181   1.0          0.00
2  BCCCCRE3C4F          1   335000.0      0.000000   1.0          1.00
3  BCCCCREW3WY          4   469750.0     23.495370  20.0          0.75
4     BCE4JERY          4  1687250.0      0.000000  15.0          0.00

In [12]:
df_full_1Q22.to_parquet('data/df_1Q22.parquet')
df_full_2Q22.to_parquet('data/df_2Q22.parquet')
df_full_3Q22.to_parquet('data/df_3Q22.parquet')
df_full_4Q22.to_parquet('data/df_4Q22.parquet')
df_full_1Q23.to_parquet('data/df_1Q23.parquet')
df_full_2Q23.to_parquet('data/df_2Q23.parquet')